/* Общие параметры и параметры для больших экранов*/
body
{
	background-color: #C0C0C0;
	font-family: Arial Narrow,Trebuchet MS,Arial,Verdana,Tahoma;
	margin-top:0px;
	margin-bottom:0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nametag
{
	font-weight:bold;
}
.container
{
	flex-basis:80%;
	background-color: #fff;
	height:100%;
} 
.autho
{
	padding-right:1%;
	line-height:150%;
	display:flex;
	flex-direction: column;
	align-items: flex-end;
}
.picture
{
	display:flex;
	height:210px;
	justify-content: space-between;
}

.header
{
	display:flex;
	justify-content: space-between;
	height:80px;
}
.left-info
{
	padding-left:1%;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}
.right-info
{
	padding-right:1%;
	display:flex;
	flex-direction: column;
	align-items: flex-end;
}
.info
{
	height:40px;
	padding-left:1%;
	display:flex;
	flex-direction:row;
}
.content
{
	height:750px;
	line-height: 98%;
	display:flex;
	justify-content: space-around;
	
}
.left-content
{
	display:flex;
	flex-direction: column;
	margin:auto;
}
.right-content
{
	display:flex;
	flex-direction: column;
	margin:auto;
}
.footer
{
	display:flex;
	flex-direction: column;
}
.feedback
{
	text-align:center;
	background-image: url('files/footer.png');
}
.description
{
	text-align:center;
}
@media all and (min-width: 1100px){
.picture
{
	display:flex;
	height:210px;
	justify-content: space-around;
}
.left-picture
{
	flex-basis:49.5%;
	background-image: url('files/header-left.png');
}
.center-picture
{
	flex-basis:1%;
	background-image: url('files/header-center.png');
}
.right-picture
{
	flex-basis:49.5%;
	background-image: url('files/header-right.png');
}
}
@media all and (max-width: 	1200px){
.container
{
	flex-basis:85%;
}
}
@media all and (max-width: 1100px){
.picture
{
	height:100px;
	background-image: url('files/header-left-mini.png');
}
}
@media all and (max-width: 800px){
.container
{
	flex-basis:90%;
}
}
/* Для маленьких экранов*/
@media all and (max-width: 700px){
body
{
	background-color: #fff;
}
.container
{
	flex-basis:100%;
	background-color: #fff;
	height:100%;
}
.info
{
	height:110px;
	flex-direction:column;
	line-height:90%;
}
.content
{
	height:1250px;
	flex-direction: column;
}
.left-content
{
	order:2;
}
.right-content
{
	order:1;
}
}
