/* Общие параметры и параметры для больших экранов*/
body
{
	background-color: #C0C0C0;
	font-family: Arial Narrow,Trebuchet MS,Arial,Verdana,Tahoma;
	margin-top:0px;
	margin-bottom:0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nametag
{
	font-weight:bold;
	font-size:125%;
}
.container
{
	flex-basis:80%;
	background-color: #fff;
	height:100%;
} 
.autho
{
	padding-right:1%;
	line-height:150%;
	display:flex;
	flex-direction: column;
	align-items: flex-end;
}
.picture
{
	display:flex;
	height:210px;
	justify-content: space-between;
}

.header
{
	
}
.info
{
	height:40px;
	padding-left:1%;
	display:flex;
	flex-direction:row;
}
.content-main
{
	height:750px;
	line-height: 98%;
	display:flex;
	justify-content: space-around;
	
}
.left-content-main
{
	display:flex;
	flex-direction: column;
	margin:auto;
}
.right-content-main
{
	display:flex;
	flex-direction: column;
	margin:auto;
}
.footer
{
	display:flex;
	flex-direction: column;
}
.feedback
{
	height:25px;
	text-align:center;
	background-image: url('files/footer.png');
	
}
.description
{
	text-align:center;
}
@media all and (min-width: 1060px){
.picture
{
	display:flex;
	height:210px;
	justify-content: space-around;
	cursor:pointer;
}
.left-picture
{
	flex-basis:550px;
	background-image: url('files/header-left.png');
	background-repeat:no-repeat;
}
.left-info
{
	font-size:80%;
	padding-left:1%;
	padding-top:97px;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}
.indent
{
	padding-left:10%;
}
.center-picture
{
	background-image: url('files/header-center.png');
	flex-grow:1;
	background-repeat:repeat-x;
}
.right-picture
{
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	flex-basis:572px;
	background-image: url('files/header-right.png');
	background-repeat:no-repeat;
}
.right-info
{
	font-size:80%;
	padding-top:95.5px;
	padding-right:1%;
	display:flex;
	flex-direction: column;
	align-items: flex-end;
}
}
@media all and (max-width: 	1200px){
.container
{
	flex-basis:85%;
}
}
@media all and (max-width: 1060px){
.autho
{
	padding-top:10px;
}
.picture
{
	height:100px;
	background-image: url('files/header-left-mini.png');
	cursor:pointer;
}
.left-info, .right-info
{
	color:rgba(0,0,0,0);
}
}
@media all and (max-width: 800px){
.container
{
	flex-basis:90%;
}
}
/* Для маленьких экранов*/
@media all and (max-width: 700px){
body
{
	background-color: #fff;
	padding:0;
	margin:0;
}
.container
{
	flex-basis:100%;
	background-color: #fff;
	height:100%;
}
.info
{
	height:110px;
	flex-direction:column;
	line-height:90%;
}
.content-main
{
	height:1250px;
	flex-direction: column;
}
.left-content-main
{
	order:2;
}
.right-content-main
{
	order:1;
}
}
@media all and(max-width: 600px){

}
/* Дистанционное обучение /dist */
.content-dist
{
	display:flex;
	flex-direction: column;
}
.header-dist
{
	display: flex;
	justify-content: center;
	font-size:150%;
	font-weight: bold;
	margin-bottom:30px;
}
.navigation-dist
{
	display: flex;
	justify-content: center;
}
.news-dist
{
	display:flex;
	flex-direction: column;
	line-height:110%;
	padding-left:20px;
}
.li-news-dist
{
	
	font-weight: 500;
}
.first-content-dist
{
	display:flex;
	flex-direction: column;
	padding-left:20px;
	margin-top:10px;
	margin-bottom:10px;
}
.second-content-dist
{
	display:flex;
	flex-direction: column;
	padding-left:20px;
	line-height: 100%;
	margin-bottom:30px;
}
@media all and (max-width: 700px){
.header-dist
{
	margin-bottom:10px;
}
.navigation-dist
{
	height: 110px;
	line-height:90%;
	flex-direction:column;
	color:#fff;
}
}
